body {
    background-color: #EEEEEE;
}
.wage {
    color: #689F38;
    font-family: beerFont;
    font-size: 4em;
}




.title {
    font-family: beerFont;
    font-size: 4.3em;
}



@font-face {
    src: url('assets/beer-money.ttf');
    font-family: beerFont;
}



