body {
    background-color: #E0E0E0;
}
.wage {
    color: #388E3C;
}



.title {
    font-family: beerFont;
    font-size: 4em;
}

@font-face {
    src: url('assets/beer-money.ttf');
    font-family: beerFont;
}